---
layout: default
title: IRCd Statistics
---

<h1 id="logo">
	IRCd Software & Versions
	<subtitle>
		stats.ircdocs.horse
	</subtitle>
</h1>

<hr/>

<p>
This is a set of statistics retrieved from various IRC networks. How many networks were queried is shown. These stats <strong>do not</strong> represent every IRC network out there, just the ones we've been able to scan. Specific versions are normalized to just the IRCd version number <code>(x{.x}, i.e. 3.5.2)</code>, and other information is ignored when assembling that table.
</p>
<p>
	<strong>Note:</strong> These statistics are <strong>not</strong> normalised by network size, and are displayed based only on the number of networks that we queried.
</p>
<p>
	This site is a <strong>WORK IN PROGRESS</strong> and will be updated as the statistics collection and display is improved. These statistics <strong>should not</strong> be used in anything other than curiosity's sake at this point.
</p>
<p>
	Last Updated: {{ site.data.ircds.PrettyTime }}
</p>
<p>
	Networks: {{ site.data.ircds.Connections }}
</p>

<hr/>

<h2>IRCd Software</h2>

<p>
	This represents the IRC daemons we found in use when connecting to networks. Major versions of IRC daemons are displayed separately. Network-specific versions of IRC daemons are generally displayed as a part of the original IRC daemon.
</p>

<canvas id="ircdsChart" style="display: block; max-width: 25rem; margin: 0 auto" width="250" height="450"></canvas>
<script>
var ctx = $("#ircdsChart");
var portPieChart = new Chart(ctx[0],{
	type:'doughnut',
	options: {
		cutoutPercentage: 40,
	},
	data: {
		labels: [{% for ircd in site.data.ircds.Ircds %}"{{ ircd[0] }}"{% if forloop.last == false %}, {% endif %}{% endfor %}],
		datasets: [{
			data: [{% for ircd in site.data.ircds.Ircds %}{{ ircd[1] }}{% if forloop.last == false %}, {% endif %}{% endfor %}],
			backgroundColor: [{% for ircd in site.data.ircds.Ircds %}{% capture id %}{{ ircd[0] }}{% endcapture %}"{{ site.data.ircds.IrcdColors[id] }}"{% if forloop.last == false %}, {% endif %}{% endfor %}],
		}],
	},
});
</script>

<hr />

<h2>IRCd Versions</h2>

<div class="tokenlist">
	{% for vers in site.data.ircds.IrcdVersions %}
	{% assign swname = vers[0] %}
	<div id="sw-{{ swname | slugify }}" class="token">
		<h3>
			{{ swname }}
			<div class="support {% assign percentage = site.data.ircds.IrcdVersionCount[swname] | times: 1.0 | divided_by: site.data.ircds.Connections | times: 100.0 %}{% include supportclass.html %}">{{ percentage | round: 1 }}%</div>
			<!--<a href="http://ircdocs.horse/software/ircds.html#ircd-{{ swname | slugify }}"><i class="fa fa-info-circle info"></i></a>-->
		</h3>
		<table class="advertised">
			<thead>
				<tr>
					<td>Version</td>
					<td>Networks</td>
					<td>Advertised</td>
				</tr>
			</thead>
			<tbody>
				{% for specific_ver in vers[1] %}
				<tr>
					<td><code>{{ specific_ver[0] }}</code></td>
					<td>{{ specific_ver[1] }}</td>
					<td class="support">{{ specific_ver[1] | times: 1.0 | divided_by: site.data.ircds.IrcdVersionCount[swname] | times: 100.0 | round: 1 }}%</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% endfor %}
</div>
