---
layout: default
title: IRC SSL/TLS Statistics
---

<h1 id="logo">
	SSL/TLS Statistics
	<subtitle>
		stats.ircdocs.horse
	</subtitle>
</h1>

<hr/>

<p>
	This is a set of statistics retrieved from various IRC networks. How many networks were queried is shown. These stats <strong>do not</strong> represent every IRC network out there, just the ones we've been able to scan.
</p>
<div class="warning">
	<p>Statistics are often misleading and can be used to push agendas based on how they are presented. The statistics here <strong>ARE NOT</strong> normalised or weighted based on user count, and we <strong>DO NOT</strong> filter out networks with very low numbers of users.</p>
	<p>These stats present a misleading picture of the IRC software and features typically encountered by users because they are presented based only on sheer number of instances. Adding <a href="https://github.com/ircdocs/irc-stats/issues/6">weighting</a> and <a href="https://github.com/ircdocs/irc-stats/issues/14">filtering based on user count</a> is planned, but hasn't been implemented yet simply due to time.</p>
	<p>Don't trust these statistics. Don't trust <strong>ANY</strong> IRC statistics unless you can see exactly how they are weighted / processed, and experiment with how weighting and filtering based on user counts and other metrics changes the stats to give you a more complete picture of them.</p>
</div>
<p>
	This site is a <strong>WORK IN PROGRESS</strong> and will be updated as the statistics collection and display is improved. These statistics <strong>should not</strong> be used in anything other than curiosity's sake at this point.
</p>
<p>
	Last Updated: {{ site.data.ssltls.PrettyTime }}
</p>
<p>
	Networks: {{ site.data.ssltls.Connections }}
</p>

<hr/>

<h2>Default TLS/SSL Ports</h2>

<p>
	These are the primary SSL/TLS ports that networks present to users. In order, the default ports we check are {% for port in site.data.ssltls.PortCheckOrder %}{{port}}{% if forloop.last == false %}, {% endif %}{% endfor %}.
</p>

<canvas id="sslPortChart" style="display: block; max-width: 25rem; margin: 0 auto" width="200" height="200"></canvas>
<script>
var ctx = $("#sslPortChart");
var portPieChart = new Chart(ctx[0],{
	type:'doughnut',
	options: {
		cutoutPercentage: 40,
	},
	data: {
		labels: [{% for port in site.data.ssltls.Ports %}"Port {{ port[0] }}"{% if forloop.last == false %}, {% endif %}{% endfor %}],
		datasets: [{
			data: [{% for port in site.data.ssltls.Ports %}{{ port[1] }}{% if forloop.last == false %}, {% endif %}{% endfor %}],
			backgroundColor: [{% for port in site.data.ssltls.Ports %}{% capture ps %}{{ port[0] }}{% endcapture %}"{{ site.data.ssltls.PortColors[ps] }}"{% if forloop.last == false %}, {% endif %}{% endfor %}],
		}],
	},
});
</script>

<hr />

<h2>Certificate Verification</h2>

<p>
	For a network to count as 'verified', the certificate they present must be signed by a trusted CA, and the client must be able to verify it for the hostname they are connecting from. The failures in this test represent self-signed certs, expired certs, and servers that did not present a certificate for their actual hostname (say, for the round-robin DNS address clients use).
</p>

<canvas id="verifiedChart" style="display: block; max-width: 25rem; margin: 0 auto" width="200" height="200"></canvas>
<script>
var ctx = $("#verifiedChart");
var portPieChart = new Chart(ctx[0],{
	type:'doughnut',
	options: {
		cutoutPercentage: 40,
	},
	data: {
		labels: ["Verified", "Not Verified"],
		datasets: [{
			data: [{{ site.data.ssltls.Verified }}, {{ site.data.ssltls.Connections }} - {{ site.data.ssltls.Verified }}],
			backgroundColor: ["#4e5", "#e55"],
		}],
	},
});
</script>

<!--<hr />

<h2>Certificate Verification Failures</h2>

<p>
	This chart represents why certificate validation failed on tested networks.
</p>

<canvas id="verifyErrorChart" style="display: block; max-width: 25rem; margin: 0 auto" width="200" height="200"></canvas>
<script>
var ctx = $("#verifyErrorChart");
var portPieChart = new Chart(ctx[0],{
	type:'doughnut',
	options: {
		cutoutPercentage: 40,
	},
	data: {
		labels: [{% for err in site.data.ssltls.VerifyErrors %}"{{ err[0] }}"{% if forloop.last == false %}, {% endif %}{% endfor %}],
		datasets: [{
			data: [{% for err in site.data.ssltls.VerifyErrors %}{{ err[1] }}{% if forloop.last == false %}, {% endif %}{% endfor %}],
			backgroundColor: [{% for err in site.data.ssltls.VerifyErrors %}{% capture ps %}{{ err[0] }}{% endcapture %}"{{ site.data.ssltls.VerifyErrorColors[ps] }}"{% if forloop.last == false %}, {% endif %}{% endfor %}],
		}],
	},
});
</script>-->
