---
layout: default
title: Services Statistics
---

<h1 id="logo">
	Services Software &amp; Versions
	<subtitle>
		stats.ircdocs.horse
	</subtitle>
</h1>

<hr/>

<p>
	This is a set of statistics retrieved from various IRC networks. How many networks were queried is shown. These stats <strong>do not</strong> represent every IRC network out there, just the ones we've been able to scan. Specific versions are normalized to just the Services version number <code>(x{.x}, i.e. 3.5.2)</code>, and other information is ignored when assembling that table.
</p>
<p>
	These commands are used to retrieve these statistics from networks: <code>"VERSION services.*"</code>, <code>"VERSION *.services"</code>, <code>"/CTCP NickServ VERSION"</code>.
</p>
<div class="warning">
	<p>Statistics are often misleading and can be used to push agendas based on how they are presented. The statistics here <strong>ARE NOT</strong> normalised or weighted based on user count, and we <strong>DO NOT</strong> filter out networks with very low numbers of users.</p>
	<p>These stats present a misleading picture of the IRC software and features typically encountered by users because they are presented based only on sheer number of instances. Adding <a href="https://github.com/ircdocs/irc-stats/issues/6">weighting</a> and <a href="https://github.com/ircdocs/irc-stats/issues/14">filtering based on user count</a> is planned, but hasn't been implemented yet simply due to time.</p>
	<p>Don't trust these statistics. Don't trust <strong>ANY</strong> IRC statistics unless you can see exactly how they are weighted / processed, and experiment with how weighting and filtering based on user counts and other metrics changes the stats to give you a more complete picture of them.</p>
</div>
<p>
	This site is a <strong>WORK IN PROGRESS</strong> and will be updated as the statistics collection and display is improved. These statistics <strong>should not</strong> be used in anything other than curiosity's sake at this point.
</p>
<p>
	Last Updated: {{ site.data.services.PrettyTime }}
</p>
<p>
	Networks: {{ site.data.services.Connections }}
</p>

<hr/>

<h2>Services Software</h2>

<p>
	This represents the services software we found in use when connecting to networks. Major versions of services are displayed separately.
</p>

<canvas id="servicesChart" style="display: block; max-width: 25rem; margin: 0 auto" width="250" height="450"></canvas>
<script>
var ctx = $("#servicesChart");
var portPieChart = new Chart(ctx[0],{
	type:'doughnut',
	options: {
		cutoutPercentage: 40,
	},
	data: {
		labels: [{% for services in site.data.services.Services %}"{{ services[0] }}"{% if forloop.last == false %}, {% endif %}{% endfor %}],
		datasets: [{
			data: [{% for services in site.data.services.Services %}{{ services[1] }}{% if forloop.last == false %}, {% endif %}{% endfor %}],
			backgroundColor: [{% for services in site.data.services.Services %}{% capture id %}{{ services[0] }}{% endcapture %}"{{ site.data.services.ServicesColors[id] }}"{% if forloop.last == false %}, {% endif %}{% endfor %}],
		}],
	},
});
</script>

<hr />

<h2>Services Versions</h2>

<div class="tokenlist">
	{% for vers in site.data.services.ServicesVersions %}
	{% assign swname = vers[0] %}
	<div id="sw-{{ swname | slugify }}" class="token">
		<h3>
			{{ swname }}
			<div class="support {% assign percentage = site.data.services.ServicesVersionCount[swname] | times: 1.0 | divided_by: site.data.services.Connections | times: 100.0 %}{% include supportclass.html %}">{{ percentage | round: 1 }}%</div>
			<!--<a href="http://ircdocs.horse/software/services.html#services-{{ swname | slugify }}"><i class="fa fa-info-circle info"></i></a>-->
		</h3>
		<table class="advertised">
			<thead>
				<tr>
					<td>Version</td>
					<td>Networks</td>
					<td>Advertised</td>
				</tr>
			</thead>
			<tbody>
				{% for specific_ver in vers[1] %}
				<tr>
					<td><code>{{ specific_ver[0] }}</code></td>
					<td>{{ specific_ver[1] }}</td>
					<td class="support">{{ specific_ver[1] | times: 1.0 | divided_by: site.data.services.ServicesVersionCount[swname] | times: 100.0 | round: 1 }}%</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% endfor %}
</div>
